.bg-blue {
    background-color: #007bff;
}

.text-white {
    font-size: 20px;
    vertical-align: middle;
}

.btn-outline-light {
    border-color: white;
    color: white;
}

.btn-outline-light:hover {
    background-color: white;
    color: #007bff;
}

.btn-cerrar-sesion {
    background-color: red; 
    color: white; 
    margin-left: auto;
}

.btn-cerrar-sesion:hover {
    background-color: white; 
    color: red;
    border: 1px solid red;
}

a {
    text-decoration: none;
}

a img {
    vertical-align: middle;
}
