.bg-blue {
    background-color: #007bff !important;
}

.navbar .text-dark {
    color: white;
}

.navbar img {
    height: 45px;
    width: 45px;
    margin-right: 10px; 
}

.navbar h5 {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar .text-white {
    font-size: 20px;
}

.btn-outline-light {
    border-color: white;
    color: white;
}

.btn-outline-light:hover {
    background-color: white;
    color: #007bff;
}

.btn-cerrar-sesion {
    background-color: red; 
    color: white; 
}

.btn-cerrar-sesion:hover {
    background-color: white; 
    color: red;
    border: 1px solid red;
}
