<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos &bull; BookMarket</title>
    <link rel="icon" href="{{ url_for('static', filename='images/LogoBlanco.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
    <div class="d-flex align-items-center justify-content-between p-3 px-md-4 mb-3 bg-blue border-bottom shadow-sm" style="height: 60px;">
        <div class="d-flex align-items-center">
            <a href="{{ url_for('home') }}" class="d-flex align-items-center text-decoration-none">
                <img src="{{ url_for('static', filename='images/LogoBlanco.png') }}" alt="Compañía" style="height: 45px; width: 45px; margin-right: 10px;">
                <span class="text-white fw-bold" style="font-size: 20px;">BookMarket</span>
            </a>
        </div>
        <div>
            {% if not session["usuario"] %}
            <a class="btn btn-outline-light me-2" href="{{ url_for('inicio') }}">Registrarse</a>
            {% endif %}
            {% if session["usuario"] %}
            <a class="btn btn-cerrar-sesion ms-auto" href="{{ url_for('cerrar_sesion') }}">Cerrar Sesión</a>
            {% else %}
            <a class="btn btn-outline-success ms-auto" href="{{ url_for('inicio_sesion') }}">Iniciar Sesión</a>
            {% endif %}
        </div>
    </div>
    <div class="container custom-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category == 'success' and 'success' or 'danger' }}">
              <strong>{{ category == 'success' and '¡Excelente!' or '¡Oh rayos!' }}</strong> {{ message }}
          </div>
          {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Productos</h1>
        </div>

        {% if productos|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código Producto</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto[0] }}</td>
                    <td>{{ producto[1] }}</td>
                    <td>{{ producto[2] }}</td>
                    <td>{{ producto[4] }}</td>
                    <td>
                        <form action="{{ url_for('mostrar_pago') }}" method="GET" style="display:inline;">
                            <button class="btn btn-primary" type="submit" name="codigo_producto" value="{{ producto[0] }}">Comprar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>        
        {% else %}
        <div class="alert alert-info"> <strong>¡Atención!</strong> No hay productos disponibles</div>
        {% endif %}
    </div>
</body>
</html>